/**
 * FILE: /adm/assets/css/main.css
 * ROLE: ЕДИНАЯ точка входа дизайн-системы админки CRM2026
 * CONNECTIONS:
 *  - Подключается в /adm/index.php:
 *      <link rel="stylesheet" href="/adm/assets/css/main.css">
 */

@import url("./tokens.base.css");

/* themes (разведены по файлам) */
@import url("./themes/theme.dark.css");
@import url("./themes/theme.light.css");
@import url("./themes/theme.soft.css");

/* base */
@import url("./base.css");

/* UI */
@import url("./ui/cards.css");
@import url("./ui/buttons.css");
@import url("./ui/forms.css");
@import url("./ui/table.css");
@import url("./ui/badges.css");
@import url("./ui/notices.css");
@import url("./ui/helpers.css");

/* shell */
@import url("./shell/layout.css");
@import url("./shell/topbar.css");
@import url("./shell/sidebar.css");
@import url("./shell/menu.css");
@import url("./shell/responsive.css");
